<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="AstaguruConnection" connectionString="Data Source=AAMOD-JOSHI\SQLEXPRESS;Initial Catalog=DB_Astaguru;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="AstaguruConnectionCRM" connectionString="Data Source=103.150.187.212,1444;Initial Catalog=avigma_w3_AstaGuruDB;User ID=avigma_w3_AstaGuruDB;Password=Admin@1234" providerName="System.Data.SqlClient"/>-->
    <add name="AstaguruConnectionCRM" connectionString="Data Source=103.150.187.212,1444;Initial Catalog=avigma_w3_AstaGuruDB;User ID=avigma_w3_AstaGuruDB;Password=Admin@1234" providerName="System.Data.SqlClient"/>
    <add name="AstaguruConnectionCMS" connectionString="Data Source=AAMOD-JOSHI\SQLEXPRESS;Initial Catalog=DB_Astaguru_CMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  
</configuration>
